{
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": [
        "*.json",
        "*.yml"
      ],
      "options": {
        "printWidth": 80,
        "tabWidth": 2
      }
    },
    {
      "files": [
        "*.md"
      ],
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": [
        "*.html"
      ],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [
        "*.css",
        "*.scss"
      ],
      "options": {
        "singleQuote": false,
        "semi": true
      }
    }
  ]
}